In [7]:
import pandas as pd
df = pd.read_csv("policy/avg_policy.csv")
columns = df.columns
print('Length of df:', len(df))
print('Num unique keys:', len(df['KEY'].unique()))
df.head()

Length of df: 4711
Num unique keys: 4711

,KEY,PHASE,ROLE,HAND,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
0,1245543673952,PREFLOP,SB,Q3o,0,3,3,6,0,30,0.415686,0.0,0.000000,0.360784,0.223529
1,2534041202752,PREFLOP,BB,AJo,0,10,3,4,0,4,0.411765,0.0,0.317647,0.000000,0.270588
2,2534049595392,PREFLOP,BB,AJo,0,18,4,0,0,34,0.819608,0.0,0.000000,0.000000,0.180392
3,5102424309856,PREFLOP,BTN,T8o,0,3,4,6,0,97,0.623529,0.0,0.000000,0.192157,0.184314
4,1047977271392,PREFLOP,SB,95o,0,5,2,6,0,23,0.478431,0.0,0.329412,0.000000,0.192157

In [8]:
df.describe().round(2)

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,4.711000e+03,4711.0,4711.00,4711.00,4711.00,4711.0,4711.00,4711.00,4711.00,4711.00,4711.00,4711.00
mean,2.939712e+12,0.0,11.77,2.89,3.29,0.0,7.84,0.42,0.05,0.19,0.18,0.16
std,1.770385e+12,0.0,5.43,1.25,2.25,0.0,13.83,0.25,0.17,0.18,0.16,0.16
min,3.158112e+06,0.0,3.00,0.00,0.00,0.0,1.00,0.00,0.00,0.00,0.00,0.00
25%,1.202612e+12,0.0,8.00,2.00,1.00,0.0,1.00,0.33,0.00,0.00,0.00,0.00
50%,2.946370e+12,0.0,12.00,3.00,4.00,0.0,3.00,0.40,0.00,0.25,0.21,0.14
75%,4.681522e+12,0.0,16.00,4.00,5.00,0.0,8.00,0.58,0.00,0.33,0.33,0.28
max,5.841178e+12,0.0,21.00,4.00,6.00,0.0,119.00,1.00,0.98,0.84,0.49,0.50

In [9]:
for column in columns:
    if column == "KEY":
        continue
    print(df[column].value_counts())
    print("-" * 100)

PHASE
PREFLOP    4711
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
BB     1829
SB     1457
BTN    1425
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
J5o    40
96o    40
AKo    40
A6o    39
74o    38
       ..
K6s    19
64s    18
62s    18
53s    18
Q5s    14
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
0    4711
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
12    557
18    507
21    453
8     448
3     338
5     331
9     318
11    272
10    256
14    229
13    225
15    213
19    197
4     160
6     154
16     53
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
4    1898
3    1470
2     725
0     477
1     141
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
0    1157
6     983
4     964
5     766
2     362
3     346
1     133
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
0    4711
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
1      1590
2       707
3       364
4       287
5       221
       ...
84        1
109       1
119       1
118       1
72        1
Name: count, Length: 81, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.333333    1299
0.000000     811
0.498039     238
0.462745      38
0.505882      35
            ...
0.925490       2
0.996078       2
0.992157       2
1.000000       1
0.980392       1
Name: count, Length: 171, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.000000    4234
0.333333      82
0.474510      11
0.552941      10
0.498039       9
            ...
0.364706       1
0.909804       1
0.639216       1
0.807843       1
0.588235       1
Name: count, Length: 131, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    2038
0.333333    1333
0.313725      32
0.317647      29
0.341176      27
            ...
0.596078       1
0.776471       1
0.784314       1
0.674510       1
0.047059       1
Name: count, Length: 190, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.000000    1829
0.333333    1242
0.317647      34
0.290196      32
0.321569      30
            ...
0.035294       1
0.450980       1
0.454902       1
0.462745       1
0.478431       1
Name: count, Length: 123, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    1668
0.333333     275
0.501961     217
0.121569      49
0.243137      48
            ...
0.470588       5
0.003922       4
0.396078       4
0.007843       4
0.392157       3
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------

In [10]:
df_preflop = df[df['PHASE'] == 'PREFLOP']
df_preflop_sb = df_preflop[df_preflop['ROLE'] == 'SB']
df_preflop_sb.describe()

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,1.457000e+03,1457.0,1457.000000,1457.000000,1457.000000,1457.0,1457.000000,1457.000000,1457.0,1457.000000,1457.000000,1457.000000
mean,7.577895e+11,0.0,11.690460,3.015100,3.231984,0.0,8.573782,0.451737,0.0,0.217791,0.170471,0.160001
std,4.217447e+11,0.0,5.660944,0.840128,2.297214,0.0,10.130411,0.221158,0.0,0.181725,0.155893,0.161939
min,3.158112e+06,0.0,3.000000,1.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,3.951485e+11,0.0,8.000000,2.000000,0.000000,0.0,1.000000,0.333333,0.0,0.000000,0.000000,0.000000
50%,7.816966e+11,0.0,12.000000,3.000000,4.000000,0.0,3.000000,0.439216,0.0,0.317647,0.192157,0.145098
75%,1.133881e+12,0.0,18.000000,4.000000,5.000000,0.0,12.000000,0.588235,0.0,0.333333,0.333333,0.274510
max,1.443131e+12,0.0,21.000000,4.000000,6.000000,0.0,48.000000,0.996078,0.0,0.839216,0.486275,0.501961

In [11]:
for column in columns:
    if column == "KEY":
        continue
    print(df_preflop_sb[column].value_counts())
    print("-" * 100)

PHASE
PREFLOP    1457
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
SB    1457
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
K8o    15
J5o    14
KTs    14
J2o    13
A7o    13
       ..
T4s     5
53s     5
Q5s     5
K5s     5
32s     4
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
0    1457
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
3     169
18    169
8     169
5     168
21    131
12    129
11    106
15     95
14     85
13     75
19     70
9      45
10     39
16      7
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
3    546
4    486
2    386
1     39
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
0    370
6    337
4    236
5    214
2    147
3    113
1     40
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
0    1457
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
1     518
2     168
3      61
7      52
4      44
9      42
6      41
5      40
8      35
10     34
11     33
12     27
23     23
24     23
27     21
19     21
13     20
22     18
20     17
16     16
30     16
15     15
31     14
25     14
14     14
29     14
34     13
21     13
18     12
28     12
32     11
26     10
17      8
33      8
35      7
37      5
36      4
38      3
43      2
42      2
39      2
41      1
46      1
44      1
48      1
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.333333    432
0.000000    143
0.498039     94
0.505882     15
0.376471     13
           ...
0.933333      1
0.345098      1
0.874510      1
0.992157      1
0.980392      1
Name: count, Length: 162, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.0    1457
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    527
0.333333    441
0.313725     15
0.321569     12
0.341176     12
           ...
0.635294      1
0.752941      1
0.517647      1
0.015686      1
0.152941      1
Name: count, Length: 141, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.000000    600
0.333333    386
0.325490     15
0.250980     12
0.301961     11
           ...
0.062745      1
0.486275      1
0.372549      1
0.098039      1
0.474510      1
Name: count, Length: 107, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    557
0.501961     86
0.333333     61
0.219608     20
0.231373     19
           ...
0.011765      1
0.396078      1
0.415686      1
0.486275      1
0.047059      1
Name: count, Length: 125, dtype: int64
----------------------------------------------------------------------------------------------------

In [12]:
visits_counts = df['VISITS'].value_counts()
# visits_counts.loc[[120, 10, 11, 12]]